.team__container
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  margin: 20px 0

.team__grid
  display: flex
  justify-content: center
  margin: 20px 0
  flex-wrap: wrap
  gap: 20px
